/*
  ナビゲーションの中央に画像を入れる処理
*/
.navbar-brand {
  background: url("../images/christmas.png") no-repeat left center;
  background-size: contain;
  margin: 4px;
  height: 45px;
  width: 150px;
}

/*
  画像をレスポンシブにしても中央にいれるための処理
*/
.img-responsive-overwrite {
    margin: 0 auto !important;
}


svg {
  width:100%;
}

.wrapnote2 {
	width: 100%;
}
.wrapnote2 .note {
	margin: 10px;
}
.wrapnote2 .note p {
	border-bottom: 1px dashed #9fb7d4;
	font-size: 100%;
	line-height: 30px;
	padding: 0 10px;
}
