<%# coding: UTF-8 %>


<% require 'rubygems' %>
<% require 'erb' %>
<% require './data_model.rb'%>
<% require './my_ruby_library/weather.rb' %>
<% require './my_ruby_library/login_data.rb' %>
<% require './total_learning_time.rb' %>
<% require './database_my_library.rb' %>

<% weather = weather() %>
<% total_time = total_learning_time() %>
<% user_id = session['user_id'] %>
<% last_time = "" %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>mimlab studylog</title>
  <link rel="shortcut icon" href="images/icon.png" type="image/png">

  <!-- BootStrapの読み込み -->
  <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
  <link type="text/css" rel="stylesheet" href="css/jQRangeSlider/iThing-min.css">
  <link type="text/css" rel="stylesheet" href="css/timeline/component.css">
  <link type="text/css" rel="stylesheet" href="css/circliful/jquery.circliful.css">
  <link tyle="text/css" rel="stylesheet" href="css/textillate/animate.css">

  <!-- TimePickerの読み込み -->
  <link href="css/timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">

  <!-- my_cssの読み込み -->
  <link href="css/my_css.css" rel="stylesheet" type="text/css" >

</head>
<body>

  <!-- ナビゲーション -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <!-- ナビゲーションヘッダー -->
      <div class="navbar-header">

        <!-- スマホサイズになった時のボタンの設定 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-info" href="./index.rb"></a>

      </div>

      <!-- ナビゲーションの内容 -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="./index.rb">ホーム</a></li>
          <li><a href="./personal.rb">学習データ</a></li>
          <li><a href="./other.rb">みんなの活動</a></li>
          <li><a href="./diary.rb">卒研日記</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container" style="padding: 10px 0">
    <div class="row">

      <div class="col-sm-8">
        <div class="row">

          <!-- ランキングでソートするラジオボタン -->
          <div class="btn-group alignment" data-toggle="buttons-radio" style="margin-bottom:10px;">
            <button type="button" class="btn btn-info sort" data-sort="myorder:asc" >本日のランキング</button>
            <button type="button" class="btn btn-info sort" data-sort="myorder:desc">週間ランキング</button>
            <button type="button" class="btn btn-info sort" data-sort="random">総合ランキング</button>
          </div>

          <div id='Container'>
            <div class="mix col-sm-12 panel panel-default" data-myorder="2" style="height:140px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/2.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">ichinose</h4>
                </div>
                <div class="col-sm-2">
                  <h5 class="text-center"><strong>ランキング</strong></h5>
                  <ul class="text-center" style="list-style-type:none; margin:0px; padding:0px">
                    <li>合計時間 第<strong class="text-danger">2</strong>位</li>
                    <li>朝学習　 第<strong class="text-danger">1</strong>位</li>
                    <li>晴れ学習 第<strong class="text-danger">6</strong>位</li>
                    <li>１人学習 第<strong class="text-danger">3</strong>位</li>
                    <li>機械学習 第<strong class="text-danger">5</strong>位</li>
                  </ul>
                </div>
                <div class="col-sm-2">
                  <h5 class="text-center"><strong>本日の達成度</strong></h5>
                  <div id="myStat" class="center-block" data-dimension="100" data-text="35%" data-width="10" data-fontsize="22" data-info-fontsize="10" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>
                </div>
                <div class="col-sm-3" style="height:200px;">
                  <h5 class="text-center" style="padding-bottom:-5px;"><strong>学習傾向</strong></h5>

                  <!-- みんなの学習スタイルグラフ -->
                  <canvas id="chart3" class="center-block" style="width: 130px; height:100px;">
                  </canvas>

                </div>
                <div class="col-sm-3">
                  <h5 class="text-center"><strong>最近の学習</strong></h5>
                  <ul id="recent_timeline" style="height:100px; overflow:auto;">
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                    <hr>
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                    <hr>
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                    <hr>
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                    <hr>
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                    <hr>
                    <li>
                      <h5>英語 30分</h5>
                      <h6>今日は英単語をたくさ学習した。少しつかれたけど結構良い感じだった。</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="6" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/6.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">takuma</h4>
                </div>
                <div class="col-sm-2">
                  6
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="3" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/3.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">tomo</h4>
                </div>
                <div class="col-sm-2">
                  3
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="1" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/1.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">yuki</h4>
                </div>
                <div class="col-sm-2">
                  1
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="2" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/2.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">ichinose</h4>
                </div>
                <div class="col-sm-2">
                  2
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="2" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/2.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">ichinose</h4>
                </div>
                <div class="col-sm-2">
                  2
                </div>
              </div>
            </div>
            <div class="mix col-sm-12 panel panel-default" data-myorder="2" style="height:130px;">
              <div class="row">
                <div class="col-sm-2">
                  <img src="./images/2.jpg" class="thumbnail center-block" width="90" height="90" style="margin-top:8px;" />
                  <h4 class="text-center" style="margin-top:-15px;">ichinose</h4>
                </div>
                <div class="col-sm-2">
                  2
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="col-sm-4">
        <div style="height:300px; background-color:red;"></div>
      </div>

    </div>
  </div>

  <!-- footer -->
  <footer class="footer" style="height: 40px; background-color: #f5f5f5;">
    <div class="container" >
      <p class="text-muted" style="padding: 5px;">Copyright (C) 2015 Takuma Sasaki ALL Right Reserved.</p>
    </div>
  </footer>

  <!-- javascriptの読み込み -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript" language="javascript"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript" language="javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- ライブラリ -->
  <script src="js/datetimepicker/jquery.datetimepicker.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="js/Chart/Chart.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/scrolltable/jquery.scrolltable.js"></script>
  <script type="text/javascript" src="js/schedule/jq.schedule.js"></script>
  <script src="js/jqplot/jquery.jqplot.min.js"></script>
  <script src="js/jqplot/jqplot.barRenderer.min.js"></script>
  <script src="js/jqplot/jqplot.categoryAxisRenderer.js"></script>
  <script src="js/circliful/jquery.circliful.min.js"></script>
  <script src="js/fakeLoader/fakeLoader.min.js"></script>
  <script src="js/mixitup/jquery.mixitup.min.js"></script>

  <!-- 自分で書いたスクリプト -->
  <script src="js/my_library/current_time.js"></script>

  <script>


  $(function (){

    // Instantiate MixItUp:
    $('#Container').mixItUp();

    // 達成率円グラフ
    $('#myStat').circliful();

    // タイムラインをスクロール可能にする
    $( "#recent_timeline" ).menu();

    // レーダーチャートを作成するタグのidを取得
    var ctx3 = $("#chart3").get(0).getContext("2d");

    // レーダーチャートのデータ
    var data3 = {
      labels: ["継続性", "朝型", "晴れ", "音楽", "一人"],
      datasets: [
        {
          fillColor : "rgba(255, 0, 51, 0.5)",
          strokeColor : "rgba(220, 220, 220, 1)",
          pointColor : "rgba(220, 220, 220, 1)",
          pointStrokeColor : "#fff",
          data : [100, 59, 80, 20, 40]
        },
      ]
    };

    // レーダーチャートの設定
    var option3 = {

      // ポイントラベルのサイズ
      pointLabelFontSize : 5,

      // 表示の時のアニメーション
      animation : true,
      // アニメーションの速度 ( ステップ数 )
      animationSteps : 60,

      animationEasing : "easeOutQuad",
      // アニメーション終了後に実行する処理
      // animation: false の時にも実行されるようです
      // e.g. onAnimationComplete : function() {alert('complete');}
      onAnimationComplete : null

    };

    // レーダーチャートを描画する
    var myNewChart3 = new Chart(ctx3).Radar(data3,option3);


  });



  </script>
</body>
</html>
